
.DS_Store
data/Australia/a/forecastdemand_vic.csv
data/Australia/b/forecastdemand_sa.csv
data/Australia/c/forecastdemand_qld.csv
data/Australia/d/temprature_qld.csv
data/Australia/d/temprature_sa.csv
data/Australia/d/temprature_vic.csv
data/Australia/d/totaldemand_qld.csv
data/Australia/d/totaldemand_sa.csv
data/Australia/d/totaldemand_vic.csv
data/NSW/temperature_nsw.csv
data/NSW/totaldemand_nsw.csv
data/NSW/forecastdemand_nsw.csv
data/NSW/forecastdemand_nsw.csv.zip.partaa.zip
data/NSW/forecastdemand_nsw.csv.zip.partab.zip
data/NSW/forecastdemand_nsw_partaa.csv.zip
data/NSW/forecastdemand_nsw_partab.csv.zip
